@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;

}
header {

	margin-bottom: 3em;


}
.heading {
	background-color: #ccc;
	margin: 0;
	font-size: 2rem;
}
.article {
	padding-top: 1em;
}
img {
	width: 100%;
}

.short-nav {
	display: none;
}
nav {
	
	background-color: white;


	
	

}
nav ul {
	padding: 0;
	margin: 0;


}

nav a {
	text-decoration: none;
	color: black;
	margin-left: .5em;
	border-bottom: solid 3px;
	}


.center-header {
	text-align: center;
	/*background-color: #ccc;*/

}
.banner-text {
	position: absolute;
	top: 10em;
	text-align: center; 

}

.article {
	border-bottom: solid 1px black;
	border-top: solid 1px black;
}

nav a {
	margin: 0;

}

nav li{
	padding-right: .5em;
	position: relative;
	top: 10px;

	
}

.col-red a {
	color: red;
	padding: .7em;

	
}


.col-blue a{
	color: blue;
	padding: .7em;
	
	
}
.col-yellow a{
	color: yellow;
	padding: .7em;
	

}
.col-orange a{
	color: orange;
	padding: .7em;
}

.margin-space {
	margin: 1em;
}

.article div {
	padding-right: 1em;
	padding-left: 1em;
}


footer {
	text-align: center;
}

hr {
	padding: 0;
	margin: 0;
}




@media only screen and (min-width: 25em) {
}


@media only screen and (min-width: 38em) {

	.bottom-nav{
		float: right;

	
}
.center-header {
	/*padding-bottom: .2em;*/
	border-bottom: solid 2px #ccc;
}

.heading {
		max-width: 200px;
}


}

@media only screen and (min-width: 60em) {
	.long-nav { 
	display: inline-block;
}

	nav {
	/*padding-left: 20%;*/
	float: right;

}


li {
	max-width: 140px;

}
}











